*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height:1.6;
    background:#121212;
    color:#333;
}

header{
  padding-top: 100px;
    color:white;
    padding:15px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #121212;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2{
  margin-top: 0;
  color: #00f0ff;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
}

nav ul{
    list-style:none;
    display:flex;
    gap: 25px;
}

nav a{
    color:white;
    text-decoration:none;
}

span{
  background-color: #00f0ff;
  background-clip: text;
  color: transparent;
  font-style: italic;
}


.hero{
  margin-top: 50px;
    text-align:center;
    padding:80px 20px;
    color:white;
}

.hero-text{
  flex: 1;
}

.hero-image{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image img{
  margin-top: 20px;
   width: 350px;
  max-width: 100%;
  object-fit: contain;
  filter: drop-shadow(0 0 25px rgba(0, 255, 255, .4));
  border-radius: 24px;
}


.btn{
    display:inline-block;
    margin-top:15px;
    padding:12px 28px;
    background:#00f0ff;
    color:black;
    text-decoration:none;
    border-radius:8px;
    font-weight:600;
    transition:0.3s ease;
}

.btn:hover{
    background:#00c8d7;
    transform:translateY(-3px);
}

.menu-toggle{
    display:none;
    font-size:2rem;
    cursor:pointer;
}

.about{
    padding:100px 10%;
    background:#121212;
}

.about-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
}

.about-text{
    flex:1;
    min-width:300px;
}

.about-text h2{
    font-size:2.5rem;
    margin-bottom:20px;
    color: #00f0ff;
}

.about-text p{
    color:#cfcfcf;
    line-height:1.8;
    margin-bottom:20px;
}

.about-cards{
    flex:1;
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:20px;
    min-width:300px;
}

.info-card{
    background:#161b22;
    padding:25px;
    border-radius:15px;
    transition:.3s;
    border:1px solid rgba(255,255,255,.08);
}

.info-card:hover{
    transform:translateY(-8px);
    border-color:#00bfff;
}

.info-card h3{
    color:#00bfff;
    margin-bottom:10px;
}

.info-card p{
    color:#ddd;
}

.skills{
    padding:100px 10%;
    background:#121212;
}

.section-title{
    text-align:center;
    font-size:2.5rem;
    color:#00f0ff;
}

.section-subtitle{
    text-align:center;
    color:#ccc;
    margin:15px auto 50px;
    max-width:600px;
}

.skills-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.skill-card{
    background:#161b22;
    padding:25px;
    border-radius:15px;
    transition:.3s;
    border:1px solid rgba(255,255,255,.08);
}

.skill-card:hover{
    transform:translateY(-8px);
    border-color:#00bfff;
}

.skill-card h3{
    color:#00bfff;
    margin-bottom:18px;
}

.progress{
    height:10px;
    background:#2d3748;
    border-radius:20px;
    overflow:hidden;
}

.progress span{
    display:block;
    height:100%;
    background:#00bfff;
    border-radius:20px;
}

.projects{

    padding:100px 10%;
    background:#0d1117;

}

.projects-container{

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(330px,1fr));
    gap:35px;

}

.project-card{

    background:#161b22;
    border-radius:18px;
    overflow:hidden;
    transition:.4s;
    border:1px solid rgba(255,255,255,.08);

}

.project-card:hover{

    transform:translateY(-10px);
    border-color:#00bfff;

}

.project-card img{

    width:100%;
    height:220px;
    object-fit:cover;

}

.project-content{

    padding:25px;

}

.project-content h3{

    color:#00bfff;
    margin-bottom:15px;

}

.project-content p{

    color:#cfcfcf;
    line-height:1.7;
    margin-bottom:20px;

}

.tech-stack{

    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;

}

.tech-stack span{

    background:#00bfff20;
    color:#00bfff;
    padding:8px 14px;
    border-radius:50px;
    font-size:.9rem;

}

.project-links{

    display:flex;
    gap:15px;

}

.project-links a{

    text-decoration:none;
    color:black;
    background:#00f0ff;
    padding:10px 18px;
    border-radius:8px;
    transition:.3s;

}

.project-links a:hover{

    background:#0099cc;

}

.contact{

    padding:100px 10%;
    background:#121212;

}

.contact-header{

    text-align:center;
    margin-bottom:60px;

}

.contact-header h2{

    color:#00bfff;
    font-size:2.5rem;
    margin-bottom:15px;

}

.contact-header p{

    color:#cfcfcf;
    max-width:650px;
    margin:auto;
    line-height:1.8;

}

.contact-container{

    display:grid;
    grid-template-columns:1fr 1.2fr;
    gap:40px;

}

.contact-info{

    display:flex;
    flex-direction:column;
    gap:20px;

}

.contact-card{

    background:#161b22;
    padding:25px;
    border-radius:15px;
    border:1px solid rgba(255,255,255,.08);
    transition:.3s;

}

.contact-card:hover{

    transform:translateY(-5px);
    border-color:#00bfff;

}

.contact-card h3{

    color:white;
    margin-bottom:10px;

}

.contact-card a{

    color:#00bfff;
    text-decoration:none;
    word-break:break-word;

}

.contact-form{

    display:flex;
    flex-direction:column;
    gap:20px;

}

.contact-form input,
.contact-form textarea{

    padding:18px;
    border:none;
    outline:none;
    background:#161b22;
    color:white;
    border-radius:10px;
    border:1px solid rgba(255,255,255,.08);

}

.contact-form input:focus,
.contact-form textarea:focus{

    border-color:#00bfff;

}

.contact-form button{

    width:200px;
    padding:16px;
    border:none;
    border-radius:10px;
    background:#00bfff;
    color:black;
    font-size:1rem;
    cursor:pointer;
    transition:.3s;

}

.contact-form button:hover{

    background:#0099cc;

}

.footer{

    background:#0d1117;
    padding:60px 10% 30px;
    border-top:1px solid rgba(255,255,255,.08);

}

.footer-top{

    text-align:center;
    margin-bottom:35px;

}

.footer-top h3{

    color:white;
    margin-bottom:15px;
    font-size:1.5rem;

}

.footer-top p{

    color:#999;
    max-width:600px;
    margin:auto;
    line-height:1.7;

}

.footer-links{

    display:flex;
    justify-content:center;
    gap:30px;
    margin-bottom:35px;
    flex-wrap:wrap;

}

.footer-links a{

    text-decoration:none;
    color:#bbb;
    transition:.3s;

}

.footer-links a:hover{

    color:#00bfff;

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.08);
    padding-top:25px;
    text-align:center;

}

.footer-bottom p{

    color:#777;
    font-size:.9rem;
    margin:8px 0;

}

@media (max-width: 768px){
  .hero{
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-image img{
    width:280px;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    gap: 15px;
  }
  .nav-links.active{
    display: flex;
  }
  .menu-toggle{
    display: block;
  }
  .logo{
    font-size: 1rem;
    white-space: nowrap;
  }
  .about-container{
    flex-direction:column;
}

.about-cards{
    grid-template-columns:1fr;
    width:100%;
}
.contact-container{

    grid-template-columns:1fr;

}

.contact-form button{

    width:100%;

}
}